$font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    
    .footer-clothes{

        h3{
            font-size: 22px;
            margin: 30px 0 10px 0;
        }
        li{
            font-size: 18px ;
            font-family: $font-family;
            list-style: none;
            padding: 5px 0 5px 0;
            border-bottom: 2px solid rgb(255, 255, 255);

            a{
                text-decoration: none;
                color: black;
                
            }
            a:hover{
            color: blue;


            }
        }
        li:hover{
            border-bottom: 2px solid rgb(0, 0, 0);

        }

    }
    
}

.footer-about-us{
    @extend .footer-clothes;

}

.social-media{
    @extend .footer-clothes;


}

.warning{
    background-color: rgb(212, 209, 209);
    padding: 20px 0 20px 0;
    p{
        font-size: $font-family;
        color: rgb(6, 6, 41);
        text-align: center;
        font-weight: bold;
    }
}